//@import "mixins"

body.page-node-111, body.node-type-page, body.page-search, body.page-user

  .page-header
    font-size: 48px

  .main-container .row .col-sm-12
    background: rgba(black, .6)
    padding: 2em

    .field-name-body, label
      font-family: "IM Fell DW Pica"
      font-size: 18px

    form.search-form, form#user-login, form#user-register-form, form#user-pass
      label
        font-family: "Open Sans"
        font-size: 16px

      input,textarea
        background: transparent
        color: $color_bw2

    #contact-personal-form
      label
        font-family: "Open Sans"
        font-size: 16px

      input,textarea
        background: transparent
        color: $color_bw2

body.page-contact

  .page-header
    font-size: 48px

  .main-container .row .col-sm-12
    background: rgba(black, .6)
    padding: 2em
    +span-columns(12)
    +media(900px)
      +span-columns(5)
      +shift(3.5)
    +media(1500px)
      +span-columns(3)
      +shift(4.5)


    #contact-site-form

      label
        font-family: "Open Sans"
        font-size: 16px

      input,textarea
        background: transparent
        color: $color_bw2


body.page-user.not-logged-in

  .main-container .row .col-sm-12
    background: rgba(black, .6)
    padding: 2em
    +span-columns(12)
    +media(900px)
      +span-columns(5)
      +shift(3.5)
    +media(1500px)
      +span-columns(3)
      +shift(4.5)


    .password-confirm
      margin: 8px 0
    .password-suggestions, .password-confirm
      background: none
      padding: 5px
      +span-columns(12)

    .form-type-password
      +span-columns(12)
      background: none
      .password-strength
        +span-columns(12)