@import "mixins"

.slides-region

  .distillery-full-block
    overflow: hidden
    position: relative
    background-size: 100% 100%!important


    &:before
      content: " "
      +background-image(linear-gradient(to right, rgba(black, 1) 2%, rgba(black, .1) 10%, rgba(black, .1) 40%, rgba(black, .6) 60%, rgba(black, .7) 65%, rgba(black, .8) 70%, rgba(black, .9) 80%, rgba(black, 1) 85%))
      position: absolute
      +size(100%)
      top: 0px
      bottom: 0px
      left: 0px
      right: 0px


    .dis-block, .view-content, .row-wrapper, .views-row
      height: 100%

    .row-wrapper


      .views-field-name, .views-field-field-distillery-body,.views-field-name-1
        position: absolute

      .views-field-name,.views-field-name-1
        left: 0%
        right: 0%
        margin: auto
        top: 42%
        color: $color_a1
        font-size: 4em
        z-index: 1
        text-align: center
        font-variant: small-caps
        font-family: "IM Fell DW Pica"

      .views-field-name
        text-shadow: 3px 3px 4px #2a2a2a, -1px -1px 4px #2a2a2a
        padding-left: 1em
        +media(1024px)
          top: 90px

      .views-field-name-1
        font-size: 8em
        top: 33%
        font-style: italic
        z-index: 0
        color: $color_a4
        +media(1024px)
          top: 50px

      .views-field-field-distillery-body
        color: $color_bw1
        position: absolute
        top: 15%
        left: 5%
        display: none
        +media(1024px)
          left: 30%
          right: 50px
          display: block
          top: 200px
          +column-count(3)
          +column-gap(20px)
          text-align: justify
          font-family: "IM Fell DW Pica"
          font-size: 1.2em

          p:first-letter
            //float: left
            font-size: 250%
            //padding-top: 8px
            //padding-right: 5px

      .views-field-field-distillery-url
        display: none
        position: absolute
        top: 40px
        font-size: 1.3em
        right: 100px
        //padding: 1em
        font-family: "IM Fell DW Pica"
        +media(1024px)
          display: block
          a
            text-shadow: 0 0 4px black

      .views-field-field-youtube-movie
        position: relative
        display: none

        +media(1024px)
          display: block
          bottom: auto
          left: 30%
          top: 500px

          li
            height: auto
            margin-right: 1em

      .views-field-image
        position: relative
        top: 0px
        left: 0
        img
          width: 100%
          height: auto