@import "mixins"

#distillery-panel

  background: none


.region-content .block[id*=product-search]
  background: none

.view-products-search.distillery-product-list, .view-products-search.products-overview
  $bkp: 1400px

  .view-header
    background: rgba(black, .6)
    @extend %clearfix
    margin-bottom: 1em
    padding: 10px

    i
      font-size: 1.6em


    //-------------------------------------- COMMON RULES
    .total-items, >.views-exposed-widget, .view-mode-buttons
      margin: 10px 0
      text-align: center
      color: $color_bw1
      font-family: "Open Sans"
      outline: 1px solid $color_bw1
      padding: 0px
      border-radius: 1px
      height: 45px
      +media($bkp)
        +reset-box
        height: 45px

      i
        cursor: pointer
        line-height: 45px
        &:hover
          color: $color_bw3




    .total-items
      background: none
      text-align: center
      line-height: 45px
      +span-columns(12)

      +media($bkp)
        +span-columns(2)




    >.views-exposed-widget
      background: none
      padding-top: 0px
      +span-columns(12)
      +media($bkp)
        +span-columns(6)
        text-align: left
        +shift(.5)


      >.views-widget
        background: none
        display: inline-block
        float: left
        padding-top: 0px
        height: 45px
        line-height: 45px
        text-align: center
        +media($bkp)
          height: 45px
          line-height: 45px

      .filters-legend
        background: none
        display: none
        height: 45px
        line-height: 45px
        padding: 0 10px
        float: left
        font-size: 14px
        +media($bkp)
          font-size: 9px
          display: inline-block
        +media(1600px)
          font-size: 14px

      .form-group
        margin-bottom: 0
        padding-top: 0px
        height: 45px!important
        .form-radios, .bef-select-as-links
          height: 45px!important
        .form-item
          display: inline-block
          padding-top: 0
          height: 45px!important
          >div
            display: inline-block
            margin-right: -4px
            height: 45px!important

            a
              margin: 0
              font-size: 8px
              border-right: 1px solid $color_bw1
              color: $color_bw1
              display: inline-block
              +size(100%)
              padding: 0 12px 0
              line-height: 45px
              +media(480px)
                font-size: 14px
              i
                line-height: 45px
                display: inline-block

          &.selected
            a
              background: $color_bw1
              color: $color_bw4





    .view-mode-buttons
      padding-top: 0

      +span-columns(12)
      +media($bkp)
        +span-columns(3)
        +shift(.5)

      .inner
        display: inline-block
        height: 45px
        width: 100%
        padding-top: 0
        +media($bkp)

          line-height: 40px
          height: 100%
          padding-top: 0

        span
          padding: 0 12px
          display: inline-block

        .buttons

          height: 100%
          float: left
          display: inline-block
          padding-top: 0

          span
            padding-top: 0
            height: 100%
            margin-right: -4px
            border-right: 2px solid $color_bw1

            &.active
              background: $color_bw1
              color: $color_bw4

        .view-mode-text
          color: $color_bw1
          height: 15px
          padding-left: 15px
          display: inline-block
          float: left
          min-width: 10px
          min-height: 45px
          line-height: 45px
          background: none



//********************** VIEWS LIST/GRID MODE

.view-empty
  background: rgba(black, .6)
  padding: 1em
  border-radius: 5px

.view-products-search.products-overview, .view-products-search.distillery-product-list
  +span-columns(12)

  .view-header
    +span-columns(12)



  .view-content

    .views-field-nothing-2
      .image-container
        overflow: hidden
        //min-height: 400px
        padding: 1em 0

        .ribbon
          position: absolute
          top: 25px
          width: 130%
          left: -15%
          +transform(rotate(-10deg))
          padding: .4em 0 .4em 20%
          font-family: "Open Sans"
          font-style: italic
          font-size: 1.5em
          line-height: 1.5em
          +background-image( linear-gradient(to right $color_a5 30%, rgba($color_a4, .8) 60%, white 92% ))
          color: $color_bw4

    .views-field-nothing-1
      transition: none!important


.view-products-search.products-overview.grid-mode-view, .view-products-search.distillery-product-list.grid-mode-view

  .view-content
    +span-columns(12)
    //background: rgba(black, .7)
    margin-top: 0em

  .views-field-field-body
    display: none

  .bottom-widget
    .price
      display: none


.view-products-search.products-overview.list-mode-view, .view-products-search.distillery-product-list.list-mode-view

  .view-content .row-wrapper
    background: none
    +span-columns(12)
    margin-bottom: 1em

    .views-row

      width: 100%
      background: rgba(black, .6)
      padding: 2em

    .views-field-nothing-2
      +span-columns(4)

      img
        border-radius: 0 0 8px 8px
      +media(1400px)
        +span-columns(3)

    .views-field-field-distillery-name, .views-field-field-distillery
      color: $color_bw1
      +span-columns(8)
        text-align: center
        span
          float: none
          padding: 0
          a
            color: $color_bw1!important

      +media(768px)
        +span-columns(8)
        span
          float: none
          a
            color: $color_bw1!important


    .views-field-title
      a
        color: $color_bw1

      +span-columns(8)
      text-align: center

      +media(768px)
        +span-columns(8)
        a
          float: none

    .views-field-nothing
      +span-columns(8)
      font-size: .8em
      +media(480px)
        font-size: 1em

    .views-field-field-body
      background: none
      padding: 10px
      color: $color_bw1
      +span-columns(12)
      clear: both
      +media(648px)
        clear: none
        margin-top: 1em
        +span-columns(8)
        font-size: 16px
      +media(1400px)
        +span-columns(6)
        +column-count(2)
        text-align: justify
        +column-gap(20px)

    .views-field-nothing-1
      +span-columns(12)
      opacity: 1
      position: relative
      +media(1400px)
        +span-columns(3)

        .bottom-widget
          border: 2px solid $color_bw1
          border-radius: 0 0 12px 12px
          padding: 10px
          margin: 0 5px


    [class*=field-product-commerce-price]
      display: none

    .bottom-widget
      .price
        background: $color_bw1
        width: 99%
        height: 80px
        text-align: center
        color: black
        line-height: 80px
        font-size: 1.5em
        margin: 0 .5% .5em
        font-family: "Open Sans"
        font-weight: 600

      .btn
        width: 100%!important

.region-content .block[id*='products-search']
  background: none!important

.view-products-search.grid-mode-view .view-content
  background: rgba(black, .6)