@import "mixins"

footer.footer
  background: $color_bw5
  margin-top: 0
  +span-columns(12)
  clear: both
  font-family: "Open Sans"

  h2.block-title
    margin-bottom: 1em
    text-align: center
    text-transform: uppercase
    font-family: "Open Sans"
    font-style: normal
    font-size: 15px
    font-weight: 600
    color: $color_bw1

  .footer-block
    background: none
    padding: 5px

    ul
      padding-bottom: 0em
      li
        text-align: center
        a
          color: $color_bw2
          &:hover
            background: none
            color: $color_bw1

          padding: 5px 0px
          +media(1024px)
            padding: 1px 0

