////@import "mixins"


//******************** GRID SPAN
._cols-1, ._cols-2, ._cols-3, ._cols-4, ._cols-6
  +span-columns(12)
  margin: .5em 0

._cols-2, &._cols-3, &._cols-4, &._cols-6
  +media(768px)
    +span-columns(6)
    +omega(2n)

._cols-3
  +media(1024px)
    +span-columns(3)
    +omega-reset(2n)
    +omega-reset(3n)
    +omega(4n)


._cols-4
  +media(1024px)
    +span-columns(4)
    +omega-reset(2n)
    +omega(3n)




//***************** ELEMENTS SETTINGS


a
  color: $color_bw1
  text-decoration: none
  &:hover
    color: $color_bw2
    text-decoration: none

.nav > li > a:hover, .nav > li > a:focus
  background: $color_bw5
  border-color: $color_bw5

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
  background: $color_bw2
  border-color: $color_bw2

.nav-tabs > li > a
  &:hover
    background: $color_bw1
    color: $color_bw5

.mobile
  display: block!important
  +media($bkp_768-up)
    display: none!important

.full
  display: none!important
  +media($bkp_768-up)
    display: block!important

html
  background: white

body
  //background-image: url("../images/wood_text1-3.jpg")
  background-color: rgb(144, 118, 91)
  color: $color_bw2
  padding-top: 0!important
  +span-columns(12)

h1, h2, h3, h4, h5, h6
  color: $color_bw1
  font-family: "IM Fell DW Pica"
  font-style: italic

#admin-menu-wrapper
  padding-top: 6px

html body.admin-menu
  padding-top: 0!important
  margin-top: 0!important
  #admin-menu
    display: none
    margin-top: 0!important
    +media($bkp_main_1024-up)
      display: block
      margin-top: 0px!important

  .navbar-fixed-top
    top: 0
    +media($bkp_main_1024-up)
      top: 29px

body.navbar-is-fixed-top
  padding-top: 0px!important
  +media($bkp_main_1024-up)
    padding-top: 120px!important

body.admin-menu.navbar-is-fixed-top
  padding-top: 0px!important
  +media($bkp_main_1024-up)
    padding-top: 150px!important

body.front.navbar-is-fixed-top
    padding-top: 0px!important
    +media($bkp_main_1024-up)
      padding-top: 180px!important

body.front.admin-menu.navbar-is-fixed-top
  padding-top: 0px!important
  +media($bkp_main_1024-up)
    padding-top: 180px!important



body.pushy-active
  overflow-x: hidden
  padding-top: 0!important
  margin-top: 0!important


.search-box

  input[type=text].form-control
    +media($bkp_768-up)
      height: 45px
      font-size: 18px
      //line-height: 45px
      border-radius: 0
      border: 1px solid #000000
      box-shadow: none
      color: $color_bw2

    &:focus
      color: $color_bw4


  button.nav-button
    +media($bkp_768-up)
      +nav-button-style

#container .full-screen
  padding-top: 131px
  +media($bkp_768-up)
    padding-top: 121px
  +media(1024px)
    padding-top: 0px

body.admin-menu
  #container .full-screen
    +media(1024px)
      padding-top: 0px

.front #container .full-screen
  padding-top: 131px
  +media($bkp_768-up)
    padding-top: 181px
  +media(1024px)
    padding-top: 0px

body.front.admin-menu
  #container .full-screen
    +media(1024px)
      padding-top: 30px




.panel
  background: none
  border: none
  .panel-body
    padding: 1em 0

.quoted-text
  background: none
  display: inline-block
  margin: 1em 1em
  font-style: italic
  color: $color_quote
  position: relative
  text-indent: 55px
  font-size: 1.2em
  line-height: 1.6em


  &:before
    content: "\201C"
    font-style: normal
    font-family: "Helvetica"
    +size(20px)
    background: none
    position: absolute
    top: 12px
    left: -35px
    color: $color_bw1
    font-size: 4.5em



.view-news .views-field-title
  font-size: 2.5em
  font-family: "IM Fell DW Pica"
  font-style: italic
  a
    color: $color_bw1
    font-weight: 400
    text-decoration: none

.node-nieuws, .region-content .block:not(#block-system-main)
  background: rgba(black, .6)
  padding: 20px 10px
  border-radius: 0px

.text-in-columns, .node-nieuws .field-name-body, .view-news .views-field-body
  text-align: justify
  font-family: "Old Standard TT"
  font-weight: 400
  font-size: 16px
  line-height: 22px
  +column-count(1)
  +column-gap(30px)
  +media(680px)
    +column-count(2)
  +media(960px)
    +column-count(3)
  +media(1400px)
    +column-count(4)


  img
    width: 100%!important
    border: 2px solid $color_bw1
    padding: 0px
    height: auto!important
    display: block
    margin: 1em 0
    clear: both

  //*:first-letter
  //  background: none
    line-height: 1em
    font-size: 180%
    //float: left
    //margin: 6px 3px 0px -2px

.alert
  margin-bottom: 0
  border-radius: 0
  background: $color_a2
  border-color: $color_a2
  color: $color_bw2
  a
    color: $color_bw2


.view-wishlist
  background: none
  font-family: "Open Sans"
  font-variant: small-caps
  table tr th.active, table tr td.active
    background: none

  table
    a
      color: $color_a1
      font-size: 1.1em

    input[type=hidden]
      display: none

    #edit-line-item-fields
      display: inline-block

.table .table
  background-color: $color_bw1
  color: $color_bw5
  border-color: $color_bw1

.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td
  background-color: $color_bw2
  color: $color_bw5
  border-color: $color_bw2


.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th
  background-color: $color_bw2
  color: $color_bw4
  border-color: $color_bw2

.btn.btn-info
  background: $color_a1
  border-color: $color_a1
  columns: $color_bw1

.btn.btn-default
  background: $color_bw3
  border-color: $color_bw3
  color: $color_bw1

.btn.btn-primary
  background: $color_a2
  border-color: $color_a2

.btn.btn-success
  background: $color_a4
  border-color: $color_a4

.btn.btn-danger
  background-color: $color_red
  border-color: $color_red
  color: $color_bw1

.checkout-buttons .checkout-cancel:focus, .checkout-buttons .checkout-back:focus, .checkout-buttons .checkout-cancel:hover, .checkout-buttons .checkout-back:hover
  color: $color_bw1
  text-decoration: none
  background: $color_bw3

span.button-operator
  display: inline-block
  margin: 0 10px

.panel-default > .panel-heading
  background-color: $color_bw2
  border-color: $color_bw2
  border-radius: 0
  color: $color_bw4
  font-weight: bold


.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus
  background: $color_bw2
  border-color: $color_bw2
  color: $color_bw5

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus
  background: darken($color_bw1, 10)


.pagination > li > a, .pagination > li > span
  background: $color_bw1
  color: $color_bw4
  border-color: $color_bw1

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus
  background: $color_bw1
  border-color: $color_bw1

.logout-wrapper
  background: none
  float: right
  a
    padding: 5px 10px
    display: inline-block
    +size(100%)
    background: $color_a4
    border-radius: 2px


.view .progress-disabled
  float: left


body.page-products-search
  background-size: cover
  background: url("../images/bg-product-search.jpg") fixed

body.front, body.page-frontpage
  background-size: cover
  background: url("../images/bg-frontpage.jpg") fixed

body.page-frontpage-selections
  background-size: cover
  background: url("../images/bg-selections.jpg") fixed

body.node-type-wines
  background-size: cover
  background: url("../images/bg-products.jpg") fixed


//disclamer
body #colorbox
  #cboxLoadedContent >p
    color: $color_a2
  table.table-striped
    tbody
      tr td
        background: $color_a1
        border: 2px solid white

