//@import "mixins"

#slidy-button
  position: absolute
  bottom: -35px
  +background-image(linear-gradient( $color_bw1, $color_bw2))
  color: $color_bw3
  left: 0px
  padding: 5px 10px
  border-radius: 0 3px 3px 0
  cursor: pointer

  +media($bkp_main_1024-up)
    display: none

#sidebar-wrapper

  background: #000000
  aside
    width: 100%
    padding: 0
    margin-top: 1em
    margin-bottom: 2em
    .sidebar-inner
      .region-sidebar-first
        padding-top: 10px
        section[class*=facet]
          margin-bottom: 10px

          h2
            +reset-display
            //background: none
            +transform(rotate(0deg))
            top: 0
            left: 0
            width: 100%
            height: 30px
            line-height: 30px
            box-shadow: none
            font-size: 1.2em
            padding-left: 15px
            cursor: pointer
            +myfont($fa-var-arrow-circle-right, $pseudoLocation: after, $position: absolute, $right: 20px)

            &.open
              +myfont($fa-var-arrow-circle-down, $pseudoLocation: after, $position: absolute, $right: 20px)

          ul:not(.contextual-links)
            padding: 10px 0 0 0px
            li
              margin-bottom: 8px
            label
              font-size: 1em
              +ellipsis(200px)





aside.full-sidebar .sidebar-inner

  +media($bkp_main_1024-up)
    display: block
    overflow: hidden!important
    padding: 60px 0px 0
    margin-left: 10px

  .region-sidebar-first
    background: rgba(black, .6)
    padding: 0 0 1em 0


    .block-facetapi.title-coloured
      overflow: visible
      margin-bottom: 60px
      h2
        +reset-box
        +reset-rendering
        $bar-color: green
        +transform(rotate(-8deg))
        margin-top: 10px
        position: relative
        margin-bottom: 0px
        font-family: "Open sans"
        font-style: italic
        font-size: 1.4em
        font-weight: 400
        padding: 0px 0px 0 60px
        max-width: 150%
        width: 130%
        height: 55px
        line-height: 55px
        color: $color_bw1
        //font-weight: 600
        text-shadow: 1px 1px 4px rgba(white, .9), -1px -1px 4px rgba(gray, .6)
        $bar-color1: $color_a5
        +background-image(linear-gradient(100deg, $bar-color1 0%, $bar-color1 60%, rgba($bar-color1, .85) 75%, rgba($bar-color1, .7) 82%, rgba($bar-color1, 0.9) 95%))


        +media(768px)
          top: -35px
          left: -30px
          +transform(rotate(-10deg))

        +media(1300px)
          +transform(rotate(-7deg))
          top: -43px
          padding-left: 70px

      &.title-yellow h2
        $bar-color: $color_a5
        //+background-image(linear-gradient(100deg, $bar-color 0%, $bar-color 50%, rgba($bar-color, 0.7) 60%, rgba($bar-color, 0.6) 65%, rgba($bar-color, 0.5) 80%))
        +background-image(linear-gradient(100deg, $bar-color 0%, $bar-color 60%, rgba($bar-color, .85) 75%, rgba($bar-color, .7) 82%, rgba($bar-color, 0.9) 95%))
        box-shadow: 0 0 1px 0px $bar-color

      &.title-yellow-dark h2
        $bar-color: $color_a2
        +background-image(linear-gradient(100deg, $bar-color 0%, $bar-color 50%, rgba($bar-color, 0.7) 60%, rgba($bar-color, 0.6) 65%, rgba($bar-color, 0.5) 80%))
        box-shadow: 0 0 1px 0px $bar-color

      &.title-gold h2
        $bar-color: $color_a3
        +background-image(linear-gradient(100deg, $bar-color 0%, $bar-color 50%, rgba($bar-color, 0.7) 60%, rgba($bar-color, 0.6) 65%, rgba($bar-color, 0.5) 80%))
        box-shadow: 0 0 1px 0px $bar-color

      &.title-green h2
        $bar-color: $color_a4
        +background-image(linear-gradient(100deg, $bar-color 0%, $bar-color 50%, rgba($bar-color, 0.7) 60%, rgba($bar-color, 0.6) 65%, rgba($bar-color, 0.5) 80%))
        box-shadow: 0 0 1px 0px $bar-color

      &.title-orange-red h2
        $bar-color: $color_a5
        +background-image(linear-gradient(100deg, $bar-color 0%, $bar-color 50%, rgba($bar-color, 0.7) 60%, rgba($bar-color, 0.6) 65%, rgba($bar-color, 0.5) 80%))
        box-shadow: 0 0 1px 0px $bar-color

      &.title-azure h2
        $bar-color: $color_bw3
        +background-image(linear-gradient(100deg, $bar-color 0%, $bar-color 50%, rgba($bar-color, 0.7) 60%, rgba($bar-color, 0.6) 65%, rgba($bar-color, 0.5) 80%))
        box-shadow: 0 0 1px 0px $bar-color

      &.title-orange-dark h2
        $bar-color: $color_bw2
        +background-image(linear-gradient(100deg, $bar-color 0%, $bar-color 50%, rgba($bar-color, 0.7) 60%, rgba($bar-color, 0.6) 65%, rgba($bar-color, 0.5) 80%))
        box-shadow: 0 0 1px 0px $bar-color


      &.title-bw1 h2
        $bar-color: $color_bw1
        +background-image(linear-gradient(100deg, $bar-color 0%, $bar-color 50%, rgba($bar-color, 0.7) 60%, rgba($bar-color, 0.6) 65%, rgba($bar-color, 0.5) 80%))
        box-shadow: 0 0 1px 0px $bar-color

      &.title-bw2 h2
        $bar-color: $color_bw2
        +background-image(linear-gradient(100deg, $bar-color 0%, $bar-color 50%, rgba($bar-color, 0.7) 60%, rgba($bar-color, 0.6) 65%, rgba($bar-color, 0.5) 80%))
        box-shadow: 0 0 1px 0px $bar-color

      &.title-bw3 h2
        $bar-color: $color_bw3
        +background-image(linear-gradient(100deg, $bar-color 0%, $bar-color 50%, rgba($bar-color, 0.7) 60%, rgba($bar-color, 0.6) 65%, rgba($bar-color, 0.5) 80%))
        box-shadow: 0 0 1px 0px $bar-color

      &.title-bw4 h2
        $bar-color: $color_bw4
        +background-image(linear-gradient(100deg, $bar-color 0%, $bar-color 50%, rgba($bar-color, 0.7) 60%, rgba($bar-color, 0.6) 65%, rgba($bar-color, 0.5) 80%))
        box-shadow: 0 0 1px 0px $bar-color

      &.title-bw5 h2
        $bar-color: $color_bw5
        +background-image(linear-gradient(100deg, $bar-color 0%, $bar-color 50%, rgba($bar-color, 0.7) 60%, rgba($bar-color, 0.6) 65%, rgba($bar-color, 0.5) 80%))
        box-shadow: 0 0 1px 0px $bar-color

      &.title-color-1 h2
        $bar-color: #462632
        +background-image(linear-gradient(100deg, $bar-color 0%, $bar-color 50%, rgba($bar-color, 0.7) 60%, rgba($bar-color, 0.6) 65%, rgba($bar-color, 0.5) 80%))
        box-shadow: 0 0 1px 0px $bar-color
        text-shadow: 0px 0px 2px rgba(lighten($bar-color, 10), .9)
        color: invert($bar-color)

      &.title-color-2 h2
        $bar-color: #620A23
        +background-image(linear-gradient(100deg, $bar-color 0%, $bar-color 50%, rgba($bar-color, 0.7) 60%, rgba($bar-color, 0.6) 65%, rgba($bar-color, 0.5) 80%))
        box-shadow: 0 0 1px 0px $bar-color
        text-shadow: 0px 0px 2px rgba(darken($bar-color, 30), .8)
        //color: invert($bar-color)

      &.title-color-3 h2
        $bar-color: #851727
        +background-image(linear-gradient(100deg, $bar-color 0%, $bar-color 50%, rgba($bar-color, 0.7) 60%, rgba($bar-color, 0.6) 65%, rgba($bar-color, 0.5) 80%))
        box-shadow: 0 0 1px 0px $bar-color
        //color: black
        text-shadow: 0px 0px 2px rgba(darken($bar-color, 30), .8)

      &.title-color-4 h2
        $bar-color: #BA4139
        +background-image(linear-gradient(100deg, $bar-color 0%, $bar-color 50%, rgba($bar-color, 0.7) 60%, rgba($bar-color, 0.6) 65%, rgba($bar-color, 0.5) 80%))
        box-shadow: 0 0 1px 0px $bar-color
        //color: invert($bar-color)
        text-shadow: 0px 0px 2px rgba(darken($bar-color, 30), .8)

      &.title-color-5 h2
        $bar-color: #DA5839
        +background-image(linear-gradient(100deg, $bar-color 0%, $bar-color 50%, rgba($bar-color, 0.7) 60%, rgba($bar-color, 0.6) 65%, rgba($bar-color, 0.5) 80%))
        box-shadow: 0 0 1px 0px $bar-color
        text-shadow: 0px 0px 2px rgba(darken($bar-color, 30), .5)
        //color: invert($bar-color)

    ul:not(.contextual-links)
      li
        margin-bottom: 3px
        label.element-invisible.styled-label
          display: inline-block
          width: auto
          height: auto
          clip: auto
          font-family: "Open sans"
          font-weight: 400
          color: $color_bw1
          font-size: 16px
          text-shadow: none
          padding-left: 28px
          position: relative
          left: 0
          cursor: pointer
          +ellipsis(225px)

          &:before
            content: " "
            background: url("../images/ck_icons.png") 1px 0px repeat-x
            position: absolute
            display: inline-block
            left: 0
            top: -1px
            +size(25px)

        input.styled-input:checked + label.styled-label:before
          background-position: 74px 0px

        input.styled-input
          opacity: 0
          width: 0

        input.styled-input:checked:hover + label.styled-label:before
          background-position: -75px 0

        input.styled-input:hover + label.styled-label:before
          background-position: 51px 0

        a.styled-anchor
          display: none
          +reset-display
          +reset-rendering
          text-shadow: none
          box-shadow: none
          font-family: "Open sans"
          font-size: 14px
          color: $color_bw1
          font-weight: 300

.mobile-sidebar
  &.pushy-open

    .region-sidebar-first
      section
        .scroll-wrapper
          height: 120px
          width: 96%
          margin: 0 2%

        ul.mCustomScrollbar
          background: none
          width: 100%
          padding: 5px 20px!important

        .fast-live-search
          width: 100%
          padding: 0 20px
          margin: 10px 0
          input
            width: 100%
            background: rgba(black, .6)
            box-shadow: none
            color: $color_bw1
            border: 1px solid $color_bw3
            border-radius: 3px
            padding: 5px 2px

      section.closed

        .fast-live-search
          display: none

.main-container
  .sidebar-inner

    .region-sidebar-first
      padding-bottom: 3em

      >section
        background: none
        display: block
        position: relative


      ul.mCustomScrollbar
        background: none
        width: 100%
        margin: 0%
        padding: 0 10px 0 15px!important
        li
          +span-columns(12)
          input.facetapi-checkbox.styled-input
            width: 0!important
            margin: 0!important
            height: 0!important
            +reset-all()
            -moz-opacity: 0
            opacity: 0
            font-size: 0!important
            position: relative
            left: -45px



      .scroll-wrapper
        height: 120px
        width: 90%
        margin: 0 5%


      .fast-live-search
        width: 100%
        padding: 0 15px
        margin: 10px 0
        input
          width: 100%
          background: rgba(black, .6)
          box-shadow: none
          color: $color_bw1
          border: 1px solid $color_bw3
          border-radius: 3px
          padding: 5px 10px