//@import "mixins"

.slides-region
  background: white

  .region, .block, ul
    height: 100%
    border-bottom: 4px solid white
    +media($bkp_768-up)
      border-bottom: 0

  ul
    +reset-rendering
    +reset-box
    +outer-container

    $images: ('../images/slide_1.jpg', '../images/slide_2.jpg', '../images/slide_3.jpg', '../images/slide_4.jpg', '../images/slide_5.jpg')

    @for $i from 1 to length($images) + 1
      li:nth-of-type(#{$i})
        background: url(nth($images, $i))
        background-size: 100% 100%
        
    li
      position: relative
      +span-columns(6)
      height: 100%
      text-align: center



      &:nth-child(n+3)
        display: none

      +media($bkp_768-up)
        +span-columns(2.4)
        +omega-reset(2n)

        &:nth-child(n+3)
          display: inline-block

      a, a:hover, a:focus, a.active, a:active
        background: none
        position: absolute
        font-family: "IM Fell DW Pica"
        font-style: italic
        font-size: 1.5em
        text-align: center
        color: $color_bw1
        text-shadow: -1px -1px 15px black, 1px 1px 15px black
        line-height: 40px
        height: 80px
        width: 100%
        display: inline-block
        bottom: 0
        left: 0px
        padding: 0 5px
        +media($bkp_768-up)
          width: 100%
          font-size: 1.8em
        +media(1300px)
          width: 100%
          font-size: 3em



